
body {
	margin: 0;
	background-color: #FFFFFF;
	width:100%;
	font-family: 'Roboto', sans-serif;
}

.panelTD {
	font-size: 14px;
	float: right;
	line-height: 78px;
	padding-left: 0px;
	padding-right: 36px;
}

.FirstButton {
	margin-left: auto;
}

.panelButton {
	background-color:#7BC5F4;
	color:#FFFFFF;
	width: 134px;
	height: 40px;
	text-align: middle;
	border: 0px;
	border-radius: 7px
}

.panelButton:hover {
	background-color: #02A7F0;
}

#upPanel {
	width: 100%;
	height: 86px;
	background-color: #2D719D;
	position: fixed;
}

#search {
	height:38px;
	width:300px;
	color:#000000;
  	font-size: 14px;
  	padding: 0px;
  	border:0px;
	border-radius: 7px;
}

.sidebar {
	flex-direction: column;
	width: 254px;
	top: 82px;
	position:fixed;
	background-color: #2D719D;
	height:100%;
}

.blocks {
	width: 250px;
	height: 50px;
	background-color: #6191B0;
	border-top: 2px solid #7BC5F4;
	border-left: 2px solid #7BC5F4;
	border-right: 2px solid #7BC5F4;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: medium;
	text-align: center;
	line-height: 47px;
}

.blocks:hover {
	background-color: #027DB4;
}

.lastBlock {
	width: 250px;
	height: 50px;
	background-color: #6191B0;
	border-bottom: 2px solid #7BC5F4;
	border-top: 2px solid #7BC5F4;
	border-left: 2px solid #7BC5F4;
	border-right: 2px solid #7BC5F4;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: medium;
	text-align: center;
	line-height: 47px;
}

.lastBlock:hover {
	background-color: #027DB4;
}

.content {
	margin-left: 270px;
	height: 1500px;
}

.itemMap {
	font-size: 11px;
	float: left;
}

.itemMap a {
	text-decoration: none;
	color: black;
}

.footer {
	height: 264px;
	right: 0;
	background-color: #2D719D;
	
	margin-left: 254px;
	text-align: middle;
}

.footer h1 {
	font-size: 24px;
	color: #7BC5F4;
}

.footer h2 {
	font-size: 14px;
	color: #7BC5F4;
}


.footerTD{
	width: 100%;
}

.footerTD td {
	margin-left:254px;
	width: 25%;
	text-align: center;
}

.TopPanel {
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: #2D719D;
	width: 100%;
	align-items: center;
	max-width: 1400px;
	top: 0;
}

.container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 82px;
}

.productbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 197px;
	height: 486px;
	border-width: 2px;
	border: solid;
	border-color: #D7D7D7;
	border-radius: 20px;
	margin-left: 30px;
}

.Productname {
	font-size: 14px;
	font-weight: bold;
}

.Productinfo {	
	font-size: 13px;
	color: #7F7F7F;
	align-self: flex-start;
	padding-left: 20px;
}

.Productprice {
	font-size: 24px;
}

.BuyButton {
	width: 92px;
	height: 43px;
	color: #FFFFFF;
	background-color: #95F204;
	text-align: middle;
	border-radius: 10px;
	border: 0px;
	font-size: 16px;
	font-weight: bold;
}

.BuyButton:hover {
	background-color: #70B603;
}